html {
    font-family: "Alegreya", "Open Sans";
    color: #666;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    max-width: 900px;
    min-width: 320px;
    margin: 10px auto;
}

.section {
    float: left;
    width: 48%;
    padding: 1%;
}

.chapter {
    float: left;
    width: 35px;
    height: 35px;
    border: 2px solid #e4e4e4;
    text-align: center;
    margin: 2.5px;
    line-height: 35px;
    cursor: pointer;
    border-radius: 3px;
}

.chapter:hover {
    background: #e4e4e4;
}

.chapter.read {
    background: #57b7ff;
    border: 2px solid #57b7ff;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.chapter.read.sunday    { background-color: #0592ff; border: 2px solid #0592ff; }
.chapter.read.monday    { background-color: #1c9dff; border: 2px solid #1c9dff; }
.chapter.read.tuesday   { background-color: #209fff; border: 2px solid #209fff; }
.chapter.read.wednesday { background-color: #31a6ff; border: 2px solid #31a6ff; }
.chapter.read.thursday  { background-color: #57b7ff; border: 2px solid #57b7ff; }
.chapter.read.friday    { background-color: #8bcbfc; border: 2px solid #8bcbfc; }
.chapter.read.saturday  { background-color: #c3e5ff; border: 2px solid #c3e5ff; }

h1 small {
    font-size: 65%;
    font-weight: 400;
    line-height: 1;
    color: #888;
}

h3 {
    margin-top: 50px
}

.clear {
    clear: both;
}

.copyright {
    clear: both;
    margin-top: 20px;
    text-align: center;
    color: #d2d2d2;
}

.copyright a {
    font-weight: 700;
    color: #d2d2d2;
}

@media (max-width: 600px) {
    .section {
        float: none;
        width: 100%;
    }
}