<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bible Reading Tracker</title>
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="app" class="container">
        <h1>Bible Reading Plan <small>{{percentageRead}}</small></h1>
        <div class="section" v-for="(section, sectionTitle) in bible">
            <h2>{{sectionTitle}}</h2>
            <div class="row" v-for="(books, bookTitle) in section">
                <h3>{{bookTitle}}</h3>
                <div class="chapters" v-for="(chapter, book) in books">
                    <div :data-book="bookTitle | lowercase | removespace" :data-chapter="chapter" class="chapter" @click="markRead">{{chapter}}</div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="copyright">Made with <b>&lt;3</b> by <a href="http://hoshor.me" target="_blank">Ryan Hoshor</a>.</div>
    <script src="https://unpkg.com/vue@2.5.22/dist/vue.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-database.js"></script>
    <script src="js/app.js"></script>
</body>
</html>